<div id="mySidebar" class="sidebar text-white">
  <a class="closebtn" (click)="accionarMenu($event)">
    <i class="{{menu.icono}} fa-lg"></i>
  </a>
  <div class="accordion" id="accordion-menu">
    <div id="cabecera-empleados">
      <h4 class="font-weight-bold">Elkin</h4>
    </div>
    <div id="cabecera-empleados">
      <a class="h5 pointer" type="button" data-toggle="collapse" data-target="#item-empleados" aria-expanded="true"
        aria-controls="item-empleados"> Empleados
      </a>
    </div>
    <div id="item-empleados" class="collapse show" aria-labelledby="cabecera-empleados" data-parent="#accordion-menu">
      <a routerLink='/home/empleados' class="h6 text-primary">
        <i class="fas fa-angle-right"></i> Lista de empleados
      </a>
      <a routerLink='/home/empleados/nuevo' class="h6 text-primary">
        <i class="fas fa-angle-right"></i> Nuevo empleado
      </a>
      <a routerLink='/home/empleados/carga-masiva' class="h6 text-primary">
        <i class="fas fa-angle-right"></i> Carga masiva
      </a>
    </div>
    <div id="cabecera-novedades">
      <a class="h5 pointer collapsed" type="button" data-toggle="collapse" data-target="#item-novedades"
        aria-expanded="false" aria-controls="item-novedades"> Novedades
      </a>
    </div>
    <div id="item-novedades" class="collapse" aria-labelledby="cabecera-novedades" data-parent="#accordion-menu">
      <a routerLink='/home/novedades/novedades' class="h6 text-primary">
        <i class="fas fa-angle-right"></i> lista de novedades
      </a>
      <a routerLink='/home/novedades/nueva' class="h6 text-primary">
        <i class="fas fa-angle-right"></i> Nueva novedad
      </a>
    </div>
    <div id="cabecera-proyectos">
      <a class="h5 pointer collapsed" type="button" data-toggle="collapse" data-target="#item-proyectos"
        aria-expanded="false" aria-controls="item-proyectos"> Proyectos
      </a>
    </div>
    <div id="item-proyectos" class="collapse" aria-labelledby="cabecera-proyectos" data-parent="#accordion-menu">
      <a routerLink='/home/proyectos/lista' class="h6 text-primary">
        <i class="fas fa-angle-right"></i> Lista de proyectos
      </a>
      <a routerLink='/home/proyectos/nuevo' class="h6 text-primary">
        <i class="fas fa-angle-right"></i> Nuevo proyecto
      </a>
    </div>
    <div id="cabecera-dnf">
      <a class="h5 pointer collapsed" type="button" data-toggle="collapse" data-target="#item-dnf" aria-expanded="false"
        aria-controls="item-dnf"> DNF
      </a>
    </div>
    <div id="item-dnf" class="collapse" aria-labelledby="cabecera-dnf" data-parent="#accordion-menu">
      <a routerLink='/home/dnf/generar' class="h6 text-primary">
        <i class="fas fa-angle-right"></i> Generar
      </a>
    </div>
  </div>
</div>
